html {                                     /* Hele pagina */
	background-color: #efefef;             /* Kan ook color: rgb(a)  (0,0,0(,0)); */
	/* Background-attachment: fixed;   =    achter grond zal stil staan kan ook scroll enzo*/
	font: 15px/1.5 arial, roboto;         /* font van 15px (normaal) 1.5 px afstand, en kan arial of roboto zijn. */
	font-weight: normal;                  /* dikte kan ook met bv weight: 700; (100-900) */
	text-align: center;                   /* Vertical align is ook een ding top, middle, bottom enz */
	/* text-indent: 60px; betekent hoeveel pixels hij over moet laten aan begin */
}

header {
	padding: 0px;
	border: 0.1px solid black;
	font-size: 18px;
	border-bottom: -20px;
	background: url("http://poisson.phc.unipi.it/~alfieri/images/header.jpg");
	background-size:cover
}

header h1 {
	text-shadow: 5px 2px 4px grey;
	/* x-co, y-co, blur rad, color */
	letter-spacing: 9px;                /* Ruimte tussen letters, duhhhh (kan ook negative) */
	/* word-spacing is ook een ding */
}

header h3 {
	font-variant: small-caps;
	position: relative;
	top: -20px;
}

nav ul {
	list-style-type: none;
	background-color: #d1d1d1;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float: left;
}

article {
	display: block;
	margin: 0px 0px 0px 0px;
	float: left;
	width: 50%;
}

aside {
	display: block;
	font-style: italic;                   /*Italic text*/
	position: relative;
	bottom: -0px;
	float: right;
	width: 49.98%;

}

li a {
	display: block;
	text-decoration: none;
	color: #2d3c59;
	text-align: center;
	padding: 16px;
	width: 62px;
}

li a:hover {                                 /* Wanneer de muis eroverheen gaat */
	background-color: #34c19e;
}

.active {
	background-color: #bcbcbc;
}

footer {
	clear: both;                         /*omlaag*/
}

/*Use a media query to add a break point at 800px:*/
@media (max-width:1815px) {
  article, aside {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}